body {
  font-family: "Comic Sans MS";
}
#gameContainer {
  width: 100%;
}
.serverContainer {
  display: block;
  float: left;
  width: 33%;
}
.playerContainer {
  display: block;
  float: left;
  width: 33%;
}
#controlPanel {
  width: 100%;
}
.parametersContainer {
  display: block;
  float: left;
  width: 33%;
}
#demoTitle {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}